# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
ENV/
env/
*.env

# Logs and temp files
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/

# Testing files
.coverage
htmlcov/
*.egg-info/
